body{
    margin : 0;
    padding : 0;
}

div.Heading_div{
    height : 300px;
    position : relative;
}

h1.Main_heading{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial , sans-serif;
    color : White;
    display : inline-block;
    margin-left : 5px;
    margin-top : 2px;
}

div.Heading_div img{
    width : 100%;
    height : 100%;
}

ul.Nav_Bar{
    list-style-type : none;
    float : right;
    margin-top : 11px;
}

li{
    float : left;
}
li a{
    padding : 10px;
    margin-left: 7px;
    margin-right: 7px;
    text-decoration: none;
    color : white;
}

li a:hover{
    background-color: rgba(40, 40, 40, 0.8);
}

li a.subscribe:hover{
    background-color: rgba(255, 0, 0, 0.8);
}

div.Sub_div{
    overflow : auto;
}

div h3{
    color : rgb(50, 50, 50);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left:60px;
    display : inline;
}

h2{
    color : white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin :20px;
    display : inline;
}

img.vector{
    height :2%;
    width : 2%;
    position : relative;
    top : 7px;
    z-index: -1;
}

hr{
    border-top : 2px solid rgb(100, 100, 100) ;
    width : 95%;
    margin:auto;
    margin-top:5px;
}

img.Image{
    width : 50%;
    height : 90%;
    margin : 20px;
    float : left;
}
img.Image:hover{
   box-shadow : 5px 5px 2px rgba(50, 50, 50, 0.8);
}
p.Content_Section1{
    margin-top : 100px;
    font-weight : bold;
}

p.content{
    margin-top: 20px;
}

p.Content_Section2{
    margin-top : 150px;
    font-weight : bold;
}

footer{
    margin-top : 20px;
    background-color:rgba(67, 67, 67, 0.8);
    position : relative;
    overflow : auto;
}

ul.footer_navBar{
    list-style-type : none;
    position : absolute;
    right : 10px;
    top : -4px;
}
li.footer_nav a{
    padding : 5px;
    color : white;
    text-decoration : none;
}
div.footer_div{
    display : inline-block;
    margin-left :10vw;
    margin-top : 30px;
    margin-bottom : 30px;
}
p.footer_links{
   margin-top : 5px;
}

a.footer_tags:hover{
    background-color :rgb(50, 50, 50);
    color : white;
}

a.footer_tags{
    text-decoration: none;
    padding : 4px;
    color :black;
}

img.Social_Media_Image{
    width : 100%;
    height : 100%;
    margin-left : 10px;
    margin-right : 30px;
    margin-top : 8px;
}

div.Social_Media_div{
    height : 40px;
    width : 160px;
}

div.nav_div{
    position : sticky;
    top : 0;
    height : 40px;
    background-color: rgb(80 , 80 , 80 , 1);
    padding : 2px;
    overflow : hidden;
}